<CONFIG>
	<TRAFFIC>
		<DUMP>input.dump</DUMP>
		<POLICY>drop</POLICY>
		<IN_INTERFACE>net70</IN_INTERFACE>
		<OUT_INTERFACE>net67</OUT_INTERFACE>
	</TRAFFIC>
	<TRAFFIC>
		<ASCII_DUMP>input.txt</ASCII_DUMP>
		<POLICY>accept</POLICY>
		<IN_INTERFACE>net70</IN_INTERFACE>
		<OUT_INTERFACE>net67</OUT_INTERFACE>
	</TRAFFIC>
</CONFIG>
