<CONFIG>
	<TRAFFIC>
		<PROTOCOL>udp</PROTOCOL>
		<SRC_IP>10.0.0.1</SRC_IP>
		<DST_IP>10.0.0.2</DST_IP>
		<SRC_PORT>30</SRC_PORT>
		<DST_PORT>80</DST_PORT>
		<POLICY>reject</POLICY>
		<IN_INTERFACE>net70</IN_INTERFACE>
		<OUT_INTERFACE>net67</OUT_INTERFACE>
		<NUM_PACKETS>10</NUM_PACKETS>
	</TRAFFIC>
</CONFIG>
