<CONFIG>
	<TRAFFIC>
		<PROTOCOL>icmp</PROTOCOL>
		<SRC_IP>10.0.0.1</SRC_IP>
		<DST_IP>10.0.0.2</DST_IP>
		<ICMP_TYPE>8</ICMP_TYPE>
		<ICMP_CODE>0</ICMP_CODE>
		<POLICY>reject</POLICY>
		<IN_INTERFACE>net70</IN_INTERFACE>
		<OUT_INTERFACE>net67</OUT_INTERFACE>
		<NUM_PACKETS>550</NUM_PACKETS>
	</TRAFFIC>
</CONFIG>
